name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Set up Java 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Set up Maven cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Execute Maven build
        run: ./mvnw clean verify

  check_schema:
    name: Check Schema with Apollo Studio
    if: false
    needs: [test]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      # rename this to a valid subgraph name
      SUBGRAPH_NAME: foo-bar
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install Rover
        run: |
          curl -sSL https://rover.apollo.dev/nix/latest | sh
          echo "$HOME/.rover/bin" >> $GITHUB_PATH
      - name: Schema Check
        run: rover subgraph check ${{ secrets.APOLLO_GRAPH_REF }} --schema src/main/resources/graphql/schema.graphqls --name ${{ env.SUBGRAPH_NAME }}
        env:
          APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
